@import "tailwindcss";

@theme {
  --font-mono: "SF Mono", "SFMono-Regular", "ui-monospace", "Menlo", "Monaco", "Cascadia Mono", monospace;
  --font-sans: "SF Pro Display", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Configuration du Dark Mode par classe */
@variant dark (&:where(.dark, .dark *));

/* Styles de base pour le lissage du switch */
body {
  @apply transition-colors duration-300;
}

@theme {
  --color-background: #0a0a0a;
  --color-card: #111111;
  --color-muted: #737373;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
    margin: 0;
    text-align: left;
  }
}